.cp_iptxt {
    position: relative;
}

.cp_iptxt input[type='text'],
.cp_iptxt input[type='email'],
.cp_iptxt textarea {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 8px;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000000;
    border: 1px solid #959699;
    border-radius: 4px;
}

.cp_iptxt textarea {
    height: 100px;
}

.ef input[type='text']:focus,
.cp_iptxt input[type='email']:focus {
    border: 1px solid #666565;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(133, 133, 134, 0.5);
}

.form-checkbox {
    padding: 12px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-checkbox label {
    display: flex;
    margin-right: 10px;
}

.form-checkbox input[type='checkbox'] {
    margin: 0;
    width: 0;
    opacity: 0;
}

.form-checkbox .form-checkbox-dummy {
    margin-right: 5px;
}

.form-checkbox input[type='checkbox']:hover {
    background: rgba(0, 0, 0, .05) !important;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy {
    background: #5c5c5c;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 55%;
    width: 50%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-135deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 55%;
    width: 76%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-45deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}

.form-checkbox-dummy {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .1);
}

.form-checkbox input[type='checkbox'] {
    margin: 0;
    width: 0;
    opacity: 0;
}

.form-checkbox .form-checkbox-dummy {
    margin-right: 5px;
}

.form-checkbox input[type='checkbox']:hover {
    background: rgba(0, 0, 0, .05) !important;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy {
    background: #5c5c5c;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 55%;
    width: 50%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-135deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}

.form-checkbox input[type='checkbox']:checked+.form-checkbox-dummy::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 55%;
    width: 76%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-45deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}

.form-checkbox-dummy {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .1);
}

.form-radio {
    padding: 12px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-radio label {
    display: flex;
    margin-right: 10px;
}

.form-radio input[type='radio'] {
    margin: 0;
    width: 0;
    opacity: 0;
}

.form-radio .form-radio-dummy {
    margin-right: 5px;
}

.form-radio input[type='radio']:hover {
    background: rgba(0, 0, 0, .05) !important;
}

.form-radio input[type='radio']:checked+.form-radio-dummy {
    background: #5c5c5c;
}

.form-radio input[type='radio']:checked+.form-radio-dummy::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #FFFFFF;
}

.form-radio-dummy {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.cp_ipselect {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

.cp_ipselect select::-ms-expand {
    display: none;
}

.cp_ipselect.cp_s {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background: #ffffff;
}

.cp_ipselect.cp_s::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
}

.cp_ipselect.cp_s select {
    padding: 8px 38px 8px 8px;
    color: #666666;
}